<%- include('base'); %>
  <style>
    .example-wrapper { font: 18px/1.5 sans-serif; background-color: #F5F5F5;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <body>

    <div class="example-wrapper">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Adversaire 1</th>
                    <th style="text-align: center; vertical-align: middle;">Adversaire 2</th>
                    
                    <th style="text-align: center; vertical-align: middle;">
                        <button type="button" class="btn btn-success"  name="ajout" id="ajout" data-bs-toggle="modal" data-bs-target="#modal_modifier"
                            onclick="modifier()"> 
                             Ajouter une partie
                        </button>                       
                    </th>
                  
                </tr>
            </thead>
            <tbody>
                <% parties.forEach(function(partie) { %>
                    <tr>
                        <td style="text-align: center; vertical-align: middle;"><%= partie.prenom1 %> <%= partie.nom1 %></td>
                        <td style="text-align: center; vertical-align: middle;"><%= partie.prenom2 %> <%= partie.nom2 %></td>
                        
                        <td style="text-align: center; vertical-align: middle;"> 
                            <button type="button" class="btn btn-warning" id="<%= partie.id %>"  name="<%= partie.id %>"  data-bs-toggle="modal" data-bs-target="#modal_modifier" onclick="modifier('<%= partie.id %>')"> 
                                Modifier
                            </button>
                            <button type="button" class="btn btn-danger"  name="supSerie" id="supSerie" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="">Supprimer</button>
                        </td>
                       
                    </tr> 
                <% }); %>
            </tbody>
        </table>
       
        <form  method="post" id="formSup">
            <div class="modal fade" id="modal_supprimer" tabindex="-1" data-bs-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="supModalLongTitle"> Suppression de la série </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <p id="pModalAutre">Êtes-vous sur de vouloir supprimer la partie?</p>
                            </div>     
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon">Non</button>  
                            <input type="submit" class="btn btn-danger delete"  id="submitAutre" value="Oui">
                        </div>      
                    </div>
                </div>
            </div>
        </form>
        <form method="post" id="form" action="/add_partie">
            <div class="modal fade" id="modal_modifier" tabindex="-1" data-bs-keyboard="true" 
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >  
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Modification de la série </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                        <p>
                                            Adversaire 1
                                            <select name="concurrant1" id="concurrant1" class="form-select">
                                                <option value="">--Please choose an option--</option>
                                                <% concurrants.forEach(function(concurrant) { %>
                                                <option value=<%= concurrant.id %> ><%= concurrant.nom %></option>
                                                <% }); %>
                                            </select>        
                                        </p>
                                        <p>
                                            Adversaire 2
                                            <select name="concurrant2" id="concurrant2" class="form-select">
                                                <option value="">--Please choose an option--</option>
                                                <% concurrants.forEach(function(concurrant) { %>
                                                <option value="<%= concurrant.id %>"><%= concurrant.nom %></option>
                                                <% }); %>
                                            </select>     
                                        </p>
                                
                                </div>                
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary"  id="submit" value="Valider">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Non</button>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script>
            function modifier(id){
                if(id=null){
                    
                }
            }
        </script>    
    </body>
</html>