<%- include('base',{titre: 'Concurrents'}); %>
  <style>
    .example-wrapper { font: 18px/1.5 sans-serif; background-color: #F5F5F5;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <body>
    <div id="mySidebar" class="sidebar">
        <div>
            <button type="button" class="btn-close close" onclick="closeNav()"></button>
            <button type="button" class="btn btn-success reload" onclick="ReqReload()">
                Rafraîchir
            </button>
            <p>Notification</p>
        </div>
        <div id="notif">
            
        </div>
      </div>
    <div id="main">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Prénom</th>
                    <th style="text-align: center; vertical-align: middle;">Nom</th>
                    <th style="text-align: center; vertical-align: middle;">
                        <button type="button" class="btn btn-success"  name="ajout" id="ajout" data-bs-toggle="modal" data-bs-target="#modal_modifier"
                            onclick="modifier()"> 
                            Ajouter un concurrent
                        </button>
                        <button id="side" class="btn btn-primary" onclick="openNav()">Ouvrir les notification</button>                       
                        <button type="button" class="btn btn-danger"  name="sup" id="sup" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer('all')"> Supprimer plusieurs parties</button>
                    </th>
                    <th style="text-align: center; vertical-align: middle;"> 
                        <label for="checkall">
                            <input type="checkbox" id='checkall' name="checkall" onchange="check('all')"> Tout cocher
                        </label>
                    </th>  
                </tr>
            </thead>
            <tbody id="concurrants">
                <% users.forEach(function(user) { %>
                    <tr>
                        <td style="text-align: center; vertical-align: middle;"><%= user.prenom %></td>
                        <td style="text-align: center; vertical-align: middle;"><%= user.nom %></td> 
                        <td style="text-align: center; vertical-align: middle;"> 
                            <button type="button" class="btn btn-warning" id="modifConcurrant"  name="modifConcurrant"  data-bs-toggle="modal" data-bs-target="#modal_modifier" onclick="modifier('i_<%= user.id %>','<%= user.nom %>','<%= user.prenom %>')"> 
                                Modifier
                            </button>
                            <button type="button" class="btn btn-danger"  name="supSerie" id="supSerie" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer('<%= user.id %>')">
                                Supprimer
                            </button>
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            <input type="checkbox" id='c_<%= user.id %>' name="c_<%= user.id %>" onchange="check('<%= user.id %>')">
                        </td>
                    </tr> 
                <% }); %>
                </tbody>
            </table>
           
            <form  method="post" id="formSup">
                <div class="modal fade" id="modal_supprimer" tabindex="-1" data-bs-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
                    <div class="modal-dialog" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="supModalLongTitle"> Suppression du concurrent </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <p id="pModalAutre">Êtes-vous sur de vouloir supprimer le concurrent?</p>
                                </div>     
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon">Non</button>  
                                <button type="button" class="btn btn-danger"  id="submitAutre">Oui</button>
                            </div>      
                        </div>
                    </div>
                </div>
            </form>
            <form method="post" id="form">
                <div class="modal fade" id="modal_modifier" tabindex="-1" data-bs-keyboard="true" 
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >  
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"> Modification du concurrent </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                            <p>
                                               Prénom: <input type="text" id="prenom" name="prenom">      
                                            </p>
                                            <p>
                                                Nom: <input type="text" id="nom" name="nom">
                                            </p>
                                    
                                    </div>                
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"  id="submit" onclick="addConcurrant()">Valider</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Annuler</button>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>

        <script src="../javascript/helpers.js" ></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var socket=io()
            var Nbnotif=0
            var Ids=[]
            
            Array.from(document.getElementById('concurrants').children).forEach(function(e){
                e.children[3].children[0].checked=false
            })
            document.getElementById('checkall').checked=false
        
            socket.on("reloadConcurrant",function(data){
                populate("concurrants",data)
            })
            socket.on("newsConcurrant",function(data){
                Jsondata=JSON.parse(data)
                info(Jsondata.titre,Jsondata.msg)
            })


            function check(id){
                checks=Array.from(document.getElementById('concurrants').children)
                if(id=="all"){
                    if(document.getElementById('checkall').checked){
                    
                        checks.forEach(function(e){
                            e.children[3].children[0].checked=true
                            if(checks.indexOf(e)==0){
                                Ids.push(["","id",e.children[3].children[0].getAttribute('id').slice(2,e.children[3].children[0].getAttribute('id').lenght)])
                            }
                            else{
                                Ids.push(["OR","id",e.children[3].children[0].getAttribute('id').slice(2,e.children[3].children[0].getAttribute('id').lenght)])
                            }
                            
                        })
                    }
                    else{
                        Array.from(document.getElementById('concurrants').children).forEach(function(e){
                            e.children[3].children[0].checked=false
                            Ids.splice(Ids.indexOf(e.children[3].children[0].getAttribute('id')))
                        })
                    }
                    
                }
                else{
                    clickCheck=document.getElementById('c_'+id).checked
                    if(clickCheck){
                        Ids.push(["","partie.id",document.getElementById('c_'+id).getAttribute('id').slice(2,document.getElementById('c_'+id).getAttribute('id').lenght)])
                    }
                    else{
                        Ids.splice(Ids.indexOf(document.getElementById('c_'+id).getAttribute('id')))
                    }
                }
            }
            function modifier(id,nom,prenom){
                
                if(id!=null){
                    console.log(id.slice(0,1))
                    document.getElementById('prenom').value=prenom
                    document.getElementById('nom').value=nom
                    document.getElementById('exampleModalLongTitle').innerHTML="Modification du concurrent" ;
                    document.getElementById('submit').setAttribute("onclick",'modifConcurrant("'+id+'")')
                    
                    
                }
                else{
                    
                    document.getElementById('prenom').value=""
                    document.getElementById('nom').value=""
                    document.getElementById('exampleModalLongTitle').innerHTML="Ajout d'un concurrent" ;
                    document.getElementById('submit').setAttribute("onclick",'addConcurrant()')
                
                    
                }
                
            }

            

            function supprimer(id){
                if(id=="all"){
                    document.getElementById('submitAutre').setAttribute('onclick',"supprAllConcurrant()")
                    document.getElementById('pModalAutre').innerHTML="Voulez-vous supprimer ces concurrents ?"
                }
                else{
                    document.getElementById('pModalAutre').innerHTML="Voulez-vous supprimer ce concurrent ?"
                    document.getElementById('submitAutre').setAttribute('onclick',"supprConcurrant('"+id+"')")
                }
               
                document.getElementById("submitAutre").setAttribute('class','btn btn-danger')
                
                
            }

            
            function addConcurrant(){
                console.log(typeof document.getElementById('nom').value)
                data=encode([["nom",document.getElementById('nom').value],["prenom",document.getElementById('prenom').value]])
                
                socket.emit('addConcurrantClient',data)
            

            }

            function modifConcurrant(id){
                        
                socket.emit('modifConcurrantClient',encode([["nom",document.getElementById('nom').value],["prenom",document.getElementById('prenom').value],['id',id]]))
            }

            function supprConcurrant(id){
                socket.emit('suppConcurrantClient',encode([['id',id]]))
            }

            function supprConcurrant(id){
                socket.emit('suppAllConcurrantClient',Ids)
            }

            function supprAllConcurrant(id){
                socket.emit('suppAllConcurrantClient',Ids)
                document.getElementById('checkall').checked=false
            }

            function openNav() {
                document.getElementById("mySidebar").style.left = "0px";
                document.getElementById('side').setAttribute('onclick','closeNav()')
            }

            function closeNav() {
                document.getElementById("mySidebar").style.left= "-300px";
                document.getElementById('side').setAttribute('onclick','openNav()')
            }

            
            function populate(tableau,json){
                body=document.getElementById(tableau)
                deleteRow(body)
                Array.from(json).forEach(function(e){
                
                    row=document.createElement('tr')
                    row.setAttribute('style',"text-align: center; vertical-align: middle;")
                    prenom=document.createElement('td')
                    prenom.innerHTML=e.prenom
                    
                    row.appendChild(prenom)
                    nom=document.createElement('td')
                    nom.innerHTML=e.nom
                    row.appendChild(nom)
                    

                    colButton=document.createElement('td')
                    colButton.appendChild(createButton([e.id,e.prenom,e.nom],["btn btn-warning","modifClient","#modal_modifier","Modifier","modifier"]))
                    colButton.innerHTML=colButton.innerHTML+" "
                    colButton.appendChild(createButton([e.id],["btn btn-danger","supConcurrant","#modal_supprimer","Supprimer","supprimer"]))
                    colCheck=document.createElement('td')
                    colCheck.setAttribute('style','text-align: center; vertical-align: middle;')
                    Check=document.createElement('input')
                    Check.type="checkbox"
                    Check.setAttribute('id','c_'+e.id)
                    Check.setAttribute('name','c_'+e.id)
                    Check.setAttribute('onchanger',"check('"+e.id+"')")
                    colCheck.appendChild(Check)
                    row.appendChild(colButton)
                    row.appendChild(colCheck)
                    body.appendChild(row)
                    
                    
                })
            }
            
            function ReqReload(){
                socket.emit("reqReloadConcurrant")
                console.log(document.getElementById('notif').children)
                Array.from(document.getElementById('notif').children).forEach(function(e){
                    e.remove()
                })
                bulle=document.getElementById('bulle')
                if(bulle!=null){
                    bulle.remove()
                }
                Nbnotif=0
            
            }
        
    
    

        </script>    
    </body>
</html>