<%- include('base'); %>


  <body id="body">
    <div id="mySidebar" class="sidebar">
        <div class="border-bottom">
            
            <button type="button" class="btn-close close" onclick="closeNav()"></button>
            <button type="button" class="btn btn-success reload" onclick="ReqReload()">
                Rafraîchir
            </button>
            <p>Notification</p>
        </div>
        <div id="notif">
            
        </div>
      </div>
    <div id="main">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Adversaire 1</th>
                    <th style="text-align: center; vertical-align: middle;">Adversaire 2</th>
                    <th style="text-align: center; vertical-align: middle;">Etat</th>
                    
                    <th style="text-align: center; vertical-align: middle;">
                        <button type="button" class="btn btn-success"  name="ajout" id="ajout" data-bs-toggle="modal" data-bs-target="#modal_modifier"
                            onclick="modifier()"> 
                             Ajouter une partie
                        </button>
                        <button id="side" class="btn btn-primary" onclick="openNav()">Ouvrir les notification</button>       
                    </th>
                  
                </tr>
            </thead>
            <tbody id="parties">
                <% parties.forEach(function(partie) { %>
                   <tr>
                        <td style="text-align: center; vertical-align: middle;"><%= partie.prenom1 %> <%= partie.nom1 %></td>
                        <td style="text-align: center; vertical-align: middle;"><%= partie.prenom2 %> <%= partie.nom2 %></td>
                        <td style="text-align: center; vertical-align: middle;"><% if(partie.terminer) { %>Partie terminée<% }else{%>Partie à organiser<%}%></td>
                        
                        <td style="text-align: center; vertical-align: middle;"> 
                            <button type="button" class="btn btn-warning" id="modifParties"  name="modifParties"  data-bs-toggle="modal" data-bs-target="#modal_modifier" onclick="modifier('<%= partie.id %>','i1_<%= partie.adversaire1 %>','i2_<%= partie.adversaire2 %>')"> 
                                Modifier
                            </button>
                            <button type="button" class="btn btn-danger"  name="supPartie" id="supPartie" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer('<%= partie.id %>')">Supprimer</button>
                            <button type="button" class="btn btn-secondary" id="terminer"  name="terminer"  data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer('t_'+'<%= partie.id %>','<%= partie.terminer %>')"> 
                                Terminer
                            </button>
                        </td>
                       
                    </tr> 
                <% }); %>
            </tbody>
        </table>
       
        <form  method="post" id="formSup">
            <div class="modal fade" id="modal_supprimer" tabindex="-1" data-bs-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="supModalLongTitle"> Suppression de la partie </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <p id="pModalAutre">Êtes-vous sur de vouloir supprimer la partie?</p>
                            </div>     
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon">Non</button>  
                            <button type="button" class="btn btn-danger"  id="submitAutre">Oui</button>
                        </div>      
                    </div>
                </div>
            </div>
        </form>
        <form method="post" id="form">
            <div class="modal fade" id="modal_modifier" tabindex="-1" data-bs-keyboard="true" 
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >  
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Modification de la série </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid" >
                                        <p>
                                            Adversaire 1
                                            <select name="concurrant1" id="concurrant1" class="form-select">
                                                <option id="i1_base" value="">--Choisir une option--</option>
                                                <% concurrants.forEach(function(concurrent) { %>
                                                <option id="i1_<%= concurrant.id %>" value="c1_<%= concurrant.id %>" ><%= concurrant.prenom %> <%= concurrant.nom %></option>
                                                <% }); %>
                                            </select>        
                                        </p>
                                        <p>
                                            Adversaire 2
                                            <select name="concurrant2" id="concurrant2" class="form-select">
                                                <option id="i2_base" value="">--Choisir une option--</option>
                                                <% concurrants.forEach(function(concurrent) { %>
                                                <option id="i2_<%= concurrant.id %>" value="c2_<%= concurrant.id %>"> <%= concurrant.prenom %> <%= concurrant.nom %></option>
                                                <% }); %>
                                            </select>     
                                        </p>
                                
                                </div>                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary"  id="submit" onclick="addPartie()">Valider</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Annuler</button>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </form> 
    </div>
    
        
    </body>
    <script src="../javascript/helpers.js" ></script>
    <script src="socket.io/socket.io.js"></script>
    <script>

        var socket=io()
        var Nbnotif=0
        //console.log(socket)
        
        
       
        socket.on("reloadPartie",function(data){
            populate("parties",data)
        })
        socket.on("newsPartie",function(data){
            Jsondata=JSON.parse(data)
            info(Jsondata.titre,Jsondata.msg)
        })

        function modifier(id,index1,index2){
            concurrant1=document.getElementById('concurrant1')
            concurrant2=document.getElementById('concurrant2')
            if(id!=null){
                console.log(id.slice(0,1))
                
                
                select(concurrant1,index1)
                select(concurrant2,index2)
                document.getElementById('exampleModalLongTitle').innerHTML="Modification de la partie" ;
                document.getElementById('submit').setAttribute("onclick",'modifPartie("'+id+'")')
                
                
            }
           
            else{
                select(concurrant1,"i1_base")
                select(concurrant2,"i2_base")
                document.getElementById('exampleModalLongTitle').innerHTML="Ajout d'une partie" ;
                document.getElementById('submit').setAttribute("onclick",'addPartie()')
               
                
            }
            
        }

        function select(list,index){
            if(list!=null){
                Array.from(list.options).forEach(function(e){
                    if(e.getAttribute('id')==index ){
                        
                            e.selected=true
                    }
                    else if(e.selected){
                        e.selected=false
                    }
                })
        
            }
        }

        function supprimer(id,terminer){
           
            if(id.slice(0,1)=="t"){
                document.getElementById('submitAutre').setAttribute("onclick",'modifPartie("'+id+'")')
                text="Voulez-vous terminer cette partie?"
                document.getElementById('pModalAutre').innerHTML=text
                check=document.createElement("input")
                check.setAttribute('type','checkbox')
                check.setAttribute('id','checkboxTerminer')
                check.setAttribute('name','checkboxTerminer')
                
                if(terminer=="true"){
                    check.setAttribute('checked','checked')
                }
                p=document.createElement('p')
                label=document.createElement('label')
                label.setAttribute('for','checkboxTerminer')
                label.appendChild(check)
                label.innerHTML="Terminer la partie "+label.innerHTML
                p.appendChild(label)
                
                
                document.getElementById('pModalAutre').appendChild(p)
                document.getElementById("submitAutre").setAttribute('class','btn btn-primary')
                document.getElementById("submitAutre").setAttribute('onclick',"terminerPartie('"+id+"')")
                document.getElementById("submitAutre").innerHTML="Confirmer"
                
                
            }
            else{
                document.getElementById('pModalAutre').innerHTML="Voulez-vous supprimer cette partie ?"
                document.getElementById('submitAutre').setAttribute('onclick',"supprPartie('"+id+"')")
                document.getElementById("submitAutre").setAttribute('class','btn btn-danger')
            }
            
        }

        
        function addPartie(){
            
            data=encode([["concurrant1",document.getElementById('concurrant1').selectedOptions[0].getAttribute('id')],
            ["concurrant2",document.getElementById('concurrant2').selectedOptions[0].getAttribute('id')]])
            
            
            socket.emit('addPartieClient',data)
                   

        }

        function modifPartie(id){
                       
            socket.emit('modifPartieClient',encode([["concurrant1",document.getElementById('concurrant1').selectedOptions[0].getAttribute('id')],
            ["concurrant2",document.getElementById('concurrant2').selectedOptions[0].getAttribute('id')],['id',id]]))

            document.getElementById('modal_modifier').setAttribute('class','modal fade')
            
        }

        function supprPartie(id){
            socket.emit('suppPartieClient',encode([['id',id]]))
        }

        function terminerPartie(id){
            socket.emit("terminerPartieClient",encode([['id',id.slice(2,id.lenght)],['etat',document.getElementById('checkboxTerminer').checked]]))
        }

        function openNav() {
            document.getElementById("mySidebar").style.left = "0px";
            document.getElementById('side').setAttribute('onclick','closeNav()')
        }

        function closeNav() {
            
            document.getElementById("mySidebar").style.left= "-300px";
            document.getElementById('side').setAttribute('onclick','openNav()')
        }
        
        function populate(tableau,json){
            body=document.getElementById(tableau)
            
            deleteRow(body)
            Array.from(json).forEach(function(e){
            
                row=document.createElement('tr')
                row.setAttribute('style',"text-align: center; vertical-align: middle;")
                concurrant1=document.createElement('td')
                concurrant1.innerHTML=e.prenom1+" "+e.nom1
                
                row.appendChild(concurrant1)
                concurrant2=document.createElement('td')
                concurrant2.innerHTML=e.prenom2+" "+e.nom2
                row.appendChild(concurrant2)
                terminer=document.createElement('td')
                if(e.terminer){
                    terminer.innerHTML="Partie terminée "
                }
                else{
                    terminer.innerHTML="Partie à organiser "
                }
                
                row.appendChild(terminer)
                
                colButton=document.createElement('td')
                colButton.setAttribute('style','text-align: center; vertical-align: middle;')
                colButton.appendChild(createButton([e.id,"i1_"+e.adversaire1,"i2_"+e.adversaire2],["btn btn-warning","modifPartie","#modal_modifier","Modifier","modifier"]))
                colButton.innerHTML=colButton.innerHTML+" "
                colButton.appendChild(createButton([e.id],["btn btn-danger","supPartie","#modal_supprimer","Supprimer","supprimer"]))
                colButton.innerHTML=colButton.innerHTML+" "
                termineButton=createButton(["t_"+e.id,e.terminer],["btn btn-secondary","terminer","#modal_supprimer","Terminer","supprimer"])
                colButton.appendChild(termineButton)
                
                row.appendChild(colButton)
                body.appendChild(row)
                
            
        })
    }
    function ReqReload(){
            socket.emit("reqReloadPartie")
            
            Array.from(document.getElementById('notif').children).forEach(function(e){
            e.remove()
            })
            bulle=document.getElementById('bulle')
            if(bulle!=null){
                bulle.remove()
            }
            Nbnotif=0
        
        }
    </script>    
</html>